html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* NProgress */

/* Nprogress */
#nprogress .bar {
  background: #dc3545;
  box-shadow: none;
  height: 4px;
}
#nprogress .spinner-icon {
  display: none;
}
/* NProgress */

.main_container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Location css */
.location_container {
  display: flex;
  justify-content: center;
  column-gap: 2%;
  margin: 0 auto;
  margin-top: 30px;
  flex-wrap: wrap;
}
.country {
  flex-grow: 1;
  flex-basis: 48%;
}
.states_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.state_column {
  flex-basis: 33%;
}

.states_container ul {
  padding-left: 0.5rem;
}
.states_container ul li {
  list-style: none;
  font-size: 14px;
}
.states_container ul li a {
  text-decoration: underline;
  color: unset;
  font-size: 16px;
}
.country_heading {
  background-color: black;
  font-weight: 300;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
.state_name {
  color: rgb(179, 8, 8);
  font-weight: 700;
}
/************************
////  category css /////
*************************/
.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 15px;
}
.category a {
  text-decoration: none;
  color: unset;
}
.category a:hover {
  color: unset;
}
.category_item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.category_icon {
  font-size: 40px;
  color: rgb(0, 0, 0);
}
.category_quantity {
  color: gray;
}

/* footer css  */
.footer_container {
  max-width: 1170px;
  margin: 0 auto;
}
.footer_container ul {
  list-style: none;
  padding-left: 0;
}
.footer_container ul li a,
.footer_container a {
  text-decoration: none;
  color: rgb(14, 147, 229);
}

.hr_footer {
  height: 1.5px;
  width: 100%;
  background-color: rgb(10, 149, 61);
}
.footer_app img {
  width: 100%;
}

.fb_logo {
  color: rgb(66, 66, 180);
  font-weight: 500;
}
.fb_logo svg {
  font-size: 28px;
}
.copyright {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

/* responsive css */
@media (max-width: 768px) {
  .category {
    grid-template-columns: repeat(2, 1fr);
  }
  .country {
    flex-basis: 100%;
  }
}
